/* Total Documnet Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: normal;
    scroll-behavior: smooth;
    background-color: black;
    color: white;
}

/* Navbar Button Styles */

details{
    margin:10px 0px ;
    display: none;
    box-shadow: 0 5px 5px blue;
    width: 100%;
    padding: 0 0 15px 10px;
}

#nav_btn summary{
    list-style-type: none;
    /* box-shadow: 0 4px 2px rgb(30, 0, 255); */
    border: 1px solid rgb(0, 17, 255);
    width: 40px;
    display: flex;
    flex-direction: column;
    gap:2px;
    padding: 7px;
    border-radius: 3px;
    /* box-shadow: 0 5px 5px rgb(0, 21, 255); */
}
summary div{
    height: 3px;
    background-color: rgb(0, 0, 255);
    border-radius: 4px;
}

details ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
details ul a{
    text-decoration: none;
    color: rgb(43, 107, 226);
}

/* Navbar Button Styles */
details[open] summary div:nth-child(1){
    opacity: 0;
}
details[open] summary div:nth-child(3){
    transform:rotate(-20deg) translateY(-5px);
}
details[open] summary div:nth-child(2){
   transform:rotate(20deg) translateY(0px);
}


/* Navbar styles */
#navbar {
    padding:0 0 0 10px;
    position: sticky;
    top: 0px;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgb(35, 3, 244);
    border-radius: 0 0 10px 10px;
    /* background-color: white; */
}
#navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 20px;
}

#navbar a {
    text-decoration: none;
    color: blue;
}

ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(52, 251, 2);
    transition: width 0.3s;
}

ul li:hover::after {
    width: 100%;
}

/*  Intro section styles */
#intro {
    text-align: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#intro h1 {
    font-size: 48px;
    text-align: left;
    color: rgb(23, 2, 248);
}

#intro span {
    color: rgb(71, 247, 7);
    font-weight: bold;
}

#social_links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

#social_links a {
    text-decoration: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px 5px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 255, 81, 0.72); 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(0, 255, 81);
    cursor: pointer;
}

#intro a img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin:2px;
}
#intro a img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#intro a img:active {
    transform: scale(0.9);
    transition: all 0.1s ease-in-out;
}

#profile-pic img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    animation: pulse 1.8s ease-in-out infinite;
}

/* Pulse animation */
@keyframes pulse {

    0%,
    100% {
        transform: scale(0.93);
    }

    50% {
        transform: scale(1.05);

    }
}


/* About section styles */
#about {
    padding: 90px;
}

h1 {
    text-align: center;
    color: rgb(31, 13, 236);
    font-size: 40px;
}

#about-pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#about-pic img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
}

#about-pic p {
    width: 800px;
    padding: 20px;
}

/* Skills section styles */
#Skill {
    padding: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
}

#Skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#Skills div {
    padding: 50px;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    height: 150px;
    box-shadow: -1px -1px 0px rgb(250, 23, 2);

}

#Skills div:hover {
    border: 1px solid rgb(6, 244, 117);
    box-shadow: 4px 8px 0px rgba(10, 223, 56, 0.2), 4px 8px 0px rgba(21, 202, 42, 0.19);
    transform: translateY(-15px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* Projects section styles */

#project_section {
    padding: 90px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    padding: 30px;
}

#project div {
    border-radius: 10px;
    border: 1px solid rgba(255, 0, 0, 0.389);
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#project div h3 {
    /* text-align: center; */
    color: rgb(6, 244, 117);
}

#project div a  {
    color: rgb(6, 234, 78);
}

#project div:hover {
    border: 1px solid green;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* Contact Me section styles */

#contact {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
#contact_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input,
form textarea {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(90, 73, 73, 0.662);
}
#submit_btn {
    background-color: rgba(55, 248, 2, 0.871);
    font-weight: bold;
    cursor: pointer;
    border: none;
}
#submit_btn:active {
    transform: scale(0.95);
    transition: all 0.1s ease-in-out;
}
form input:focus,
form textarea:focus {           
    border: 2px solid rgba(208, 6, 244, 0.448);
    box-shadow: -4px 4px 8px rgba(208, 6, 244, 0.448);
}
form textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}
/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(20, 20, 20);
    color: white;
    margin-top: 50px;
}
footer p {
    font-size: 18px;
}
footer p:hover {
    color: rgb(6, 244, 117);
    /* transition: all 0.3s ease-in-out; */
}

/* Responsive styles */
@media (max-width: 768px) {
details{
    display:block;
    /* position:fixed;
    top:0;
    z-index: 100; */
    margin-top: 0px;
    padding-top: 10px;
}
#navbar{
    display: none;
}
}
/*  *//*  */