/*  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: normal;
    scroll-behavior: smooth;
    background-color: black;
    color: white;
}

/* Navbar styles */
#navbar {
    position: sticky;
    top: 0px;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgb(35, 3, 244);
    border-radius: 0 0 10px 10px;
  
}

#navbar h1 {
    color: white;
    padding: 20px;
  
}

#navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 20px;
  

}

#navbar a {
    text-decoration: none;
    color: white;
  

}

ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: tomato;
    transition: width 0.3s;
}
ul li:hover::after {
    width: 100%;
}


/*  Intro section styles */
#intro {
    text-align: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

#intro h1 {
    font-size: 48px;
    text-align: left;
    color: rgb(31, 13, 236);

}

#intro span {
    color: tomato;
    font-weight: bold;
}
#intro img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px;
}

#profile-pic img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    animation: pulse 1.8s ease-in-out infinite;
}

/* Pulse animation */
@keyframes pulse {

    0%,
    100% {
        transform: scale(0.93);
    }

    50% {
        transform: scale(1.05);

    }
}


/* About section styles */
#about {
    padding: 90px;
    /* border: 2px solid rgb(255, 255, 255); */
}
 h1 {
    text-align: center;
    /* margin-bottom: 40px; */
}

#about-pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#about-pic img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
}

#about-pic p {
    width: 800px;
    padding: 20px;
    text-align: center;
}

/* Skills section styles */
#Skill {
    /* border: 2px solid rgb(255, 255, 255); */
    padding: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;    
}

#Skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#Skills div {
    padding: 50px;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    height: 150px;
    box-shadow:-1px -1px 0px rgb(250, 23, 2);

}

#Skills div:hover {
    border:1px solid rgb(6, 244, 117);
    box-shadow: 4px 8px 0px rgba(10, 223, 56, 0.2), 4px 8px 0px rgba(21, 202, 42, 0.19);
    transform: translateY(-15px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* Projects section styles */

#project_section {
   padding: 80px;
    /* border: 2px solid rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    gap: 30px;
}


#project {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 80px;
        padding: 30px;
        /* border: 2px solid rgb(255, 255, 255); */
}

#project div{
    border-radius: 5px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(255, 255, 255); */
    padding: 20px;
}

#project div h3{
    text-align: center;
    color: rgb(6, 244, 117);
}

#project div a{
    text-decoration: none;
    color: rgb(4, 202, 237) 
}
#project div p{
    text-align: left;
}
#project div:hover{
    border:1px solid green;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

#project p {
    width: auto;
    text-align: center;

}

#contact {
    margin: 20px;
    padding: 10px;
}

#contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form input,
form textarea {
    width: auto;
    padding: 10px;
    border: 1px solid #f1e1e1;
    border-radius: 5px;
}

form button {
    width: 100px;
    padding: 5px;
    background-color: #0cf310;
    color: white;
    border: none;
    border-radius: 5px;
}